<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
	integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">

<!-- Footer -->
<section id="footer">
	<div class="container footerContainer">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<h5>Quick links</h5>
				<ul class="list-unstyled quick-links">
					<li><a href="/index.html"><i></i>Home</a></li>
					<li><a href="/index.html#container1"><i></i>About</a></li>
					<li><a href="/index.html#container2"><i></i>Works</a></li>
				</ul>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<ul class="list-unstyled list-inline social text-md-right">
					<li class="list-inline-item"><a href="https://www.facebook.com/aurora.delrio" class="social-link"><i
								class="fab fa-facebook-f"></i></a></li>
					<li class="list-inline-item"><a href="" class="social-link"><i class="fab fa-twitter"></i></a></li>
					<li class="list-inline-item"><a href="https://www.instagram.com/aurora_abyss/?hl=en"
							class="social-link"><i class="fab fa-instagram"></i></a</li>
					<li class="list-inline-item"><a href="https://www.linkedin.com/in/aurora-del-río-pérez-2ab78a54/"
							class="social-link"><i class="fab fa-linkedin"></i></a></li>
					<li class="list-inline-item"><a href="mailto:auroradelrio@gmail.com" target="_blank"><i
								class="fa fa-envelope"></i></a></li>
				</ul>
				<div class="text-md-right">
					<p class="h6">© 2021 Aurora Del Rio Music All Right Reversed</a></p>
					<p class="h6">London, Website built by Aurora Del Rio</p>
				</div>
			</div>
		</div>
	</div>
</section>
