<div class="inline-navbar">
    <section>
        <nav class="navbar navbar-expand-lg trn" id="change">
            <a class="navbar-brand" href="/index.html">Aurora Del Rio</a>
            <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse"
                data-target="#main-navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main-navigation">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/index.html#container1">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Works
                        </a>
                        <div class="dropdown-menu dropi-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item dropi" href="/views/composition.html">Composition</a>
                            <a class="dropdown-item dropi" href="/views/violin.html">Violin</a>
                            <a class="dropdown-item dropi" href="/views/monstersabyss.html">Band</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item dropi" href="/index.html#container2">Works</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/index.html#container3">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
</div>
<!-- mobile -->
<div class="mobile-navbar">
    <section>
        <nav class="navbar navbar-expand-lg trn" id="change">
            <a class="navbar-brand" href="/index.html">Aurora Del Rio</a>
            <button id="main-nav-bar" class="custom-toggler navbar-toggler navbar-dark" type="button"
                data-toggle="collapse" data-target="#main-navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main-navigation">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/index.html#container1">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Works
                        </a>
                        <div class="dropdown-menu dropi-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item dropi" href="/views/composition.html">Composition</a>
                            <a class="dropdown-item dropi" href="/views/violin.html">Violin</a>
                            <a class="dropdown-item dropi" href="/views/monstersabyss.html">Band</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item dropi" href="/index.html#container2">Works</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/index.html#container3">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
</div>
