<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Composition</title>
    <!-- <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css"> -->

    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
	integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" href="../images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="./style/monstersAbyss.css">
    <link rel="stylesheet" type="text/css" href="./style/components.css">
    <link href="http://fonts.cdnfonts.com/css/boston-traffic" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:100i,300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Allura" rel="stylesheet">
     -->
  
  <!-- <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'> -->
</head>
<body>
    <header></header>
    <!-- <div class="container-hero">
        <div class="hero-image">
            <div class="hero-text">
              <p class="quote">Composicion is a Way of Life</br></br>- Zulema De La Cruz -</p>
            </div>
        </div>
    </div> -->
    <div class="ma">
    <h1 class="text-xl-center"><a href="http://monstersabyss.com">MONSTERS' ABYSS EVOLUTION</a></h1>
</div>

    <div class="icons">
        <ul class="list-unstyled list-inline social text-md-center">
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/aurora-del-río-pérez-2ab78a54/" class="social-link"><i class="fas fa-music"></i></a></li>
            <li class="list-inline-item"><a href="https://www.facebook.com/aurora.delrio" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/aurora_abyss/?hl=en" class="social-link"><i class="fab fa-instagram"></i></a</li>
            <li class="list-inline-item"><a href="mailto:auroradelrio@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
        </ul>
    </div>
    <section class="timeline">
        <div class="container containerMA">  
          <div class="timeline-item">
    
            <div class="timeline-img"></div>
    
            <div class="timeline-content timeline-card js--fadeInRight">
                <div class="timeline-img-header">
                </div>
                <div class="date">25 MAY 2016</div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
              <!-- <a class="bnt-more" href="javascript:void(0)">More</a> -->
            </div>
    
          </div>   

          <div class="timeline-item">
    
            <div class="timeline-img"></div>
    
            <div class="timeline-content timeline-card js--fadeInRight">
                <div class="timeline-img-header">
                </div>
                <div class="date">25 MAY 2016</div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
              <!-- <a class="bnt-more" href="javascript:void(0)">More</a> -->
            </div>
    
          </div>   

          <div class="timeline-item">
    
            <div class="timeline-img"></div>
    
            <div class="timeline-content timeline-card js--fadeInRight">
                <div class="timeline-img-header">
                </div>
                <div class="date">25 MAY 2016</div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
              <!-- <a class="bnt-more" href="javascript:void(0)">More</a> -->
            </div>
    
          </div>   

          <div class="timeline-item">
    
            <div class="timeline-img"></div>
    
            <div class="timeline-content timeline-card js--fadeInRight">
                <div class="timeline-img-header">
                </div>
                <div class="date">25 MAY 2016</div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
              <!-- <a class="bnt-more" href="javascript:void(0)">More</a> -->
            </div>
    
          </div>   
                    
          <div class="timeline-item">
    
            <div class="timeline-img"></div>
    
            <div class="timeline-content timeline-card js--fadeInLeft">
                <div class="timeline-img-header">
                </div>
                <div class="date">10 JULY 2016</div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
              <!-- <a class="bnt-more" href="javascript:void(0)">More</a> -->
            </div>
          </div>   
    
          <div class="timeline-item">
    
            <div class="timeline-img"></div>
    
            <div class="timeline-content timeline-card js--fadeInRight">
                <div class="timeline-img-header">
                  <h2>Card Title</h2>
                </div>
                <div class="date">30 JULY 2016</div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
              <a class="bnt-more" href="javascript:void(0)">More</a>
            </div>
          </div>   

          <div class="timeline-item">
    
            <div class="timeline-img"></div>
    
            <div class="timeline-content timeline-card js--fadeInRight">
                <div class="timeline-img-header">
                </div>
                <div class="date">30 JULY 2016</div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
              <a class="bnt-more" href="javascript:void(0)">More</a>
            </div>
          </div>   
      
        </div>
      </section>
  
    <footer></footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="../main.js"></script>
    <script src="./monstersAbyss.js"></script>
    <!-- <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script> -->
    <script src='https://cdn.jsdelivr.net/scrollreveal.js/3.3.1/scrollreveal.min.js'></script>


</body>

</html>
