<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Composition</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="shortcut icon" href="../images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="./style/monstersAbyss.css">
  <link rel="stylesheet" type="text/css" href="./style/components.css">
  <link href="http://fonts.cdnfonts.com/css/boston-traffic" rel="stylesheet">
</head>

<body>
  <header></header>
  <div class="ma">
    <h1 class="text-xl-center"><a href="http://monstersabyss.com">MONSTERS' ABYSS EVOLUTION</a></h1>
  </div>

  <div class="icons">
    <ul class="list-unstyled list-inline social text-md-center">
      <li class="list-inline-item"><a href="https://monstersabyss.bandcamp.com/" class="social-link"><i
            class="fas fa-music"></i></a></li>
      <li class="list-inline-item"><a href="https://www.facebook.com/monstersabyss" class="social-link"><i
            class="fab fa-facebook-f"></i></a></li>
      <li class="list-inline-item"><a href="https://www.instagram.com/monstersabyss/" class="social-link"><i
            class="fab fa-instagram"></i></a< /li>
      <li class="list-inline-item"><a href="mailto:monstersabyss@gmail.com" target="_blank"><i
            class="fa fa-envelope"></i></a></li>
    </ul>
  </div>
  <section class="timeline">
    <div class="container containerMA">
      <div class="timeline-item">

        <div class="timeline-img"></div>

        <div class="timeline-content timeline-card js--fadeInLeft">
          <div class="timeline-img-header">
          </div>
          <div class="date">2015</div>
          <p>It all started when Aurora came to live to London with a bunch of uncertain songs and casually met Irene.
            During rainy days - mostly every day - they played songs together to pass the time.
          </p>
        </div>

      </div>

      <div class="timeline-item">

        <div class="timeline-img"></div>

        <div class="timeline-content timeline-card js--fadeInRight">
          <div class="timeline-img-header">
          </div>
          <div class="date">2016</div>
          <p>They decided that it was high time to see the light and started to play in some
            open-mics. But the name of the band was still missing so they asked for help from their audience to vote for
            a
            proper one. This is how Monsters Abyss was born.
          </p>
        </div>

      </div>

      <div class="timeline-item">

        <div class="timeline-img"></div>

        <div class="timeline-content timeline-card js--fadeInLeft">
          <div class="timeline-img-header">
          </div>
          <div class="date">2017</div>
          <p> And Jake got into the scene. A friend of a friend introduced Jake to the band. He started
            playing the bass-guitar but his great guitar skills suddenly surprised the two members and he was forced
            to change the instrument.</p>
          </p>
        </div>

      </div>

      <div class="timeline-item">

        <div class="timeline-img"></div>

        <div class="timeline-content timeline-card js--fadeInRight">
          <div class="timeline-img-header">
          </div>
          <div class="date">2018</div>
          <p>And then, came the most expected moment. The band found a drummer and played their first gig. It was a very
            exciting and scary moment but for sure unforgetful
          </p>
        </div>

      </div>

      <div class="timeline-item">

        <div class="timeline-img"></div>

        <div class="timeline-content timeline-card js--fadeInLeft">
          <div class="timeline-img-header">
          </div>
          <div class="date">2019</div>
          <p>And the experience was addictive! Monsters' Abyss started performing and having fun everywhere they could
            go! They made a nice tour around London center pubs.
          </p>
          </p>
        </div>
      </div>

      <div class="timeline-item">

        <div class="timeline-img"></div>

        <div class="timeline-content timeline-card js--fadeInRight">
          <div class="timeline-img-header">
          </div>
          <div class="date">2021</div>
          <p>After a little break, Monsters' Abyss is coming with exciting news, more changes and new members. </p>
        </div>
      </div>

      <div class="timeline-item">

        <div class="timeline-img"></div>

        <div class="timeline-content timeline-card js--fadeInLeft">
          <div class="timeline-img-header">
          </div>
          <div class="date">2022</div>
          <p>STAY TUNED!
          </p>
        </div>
      </div>

    </div>
  </section>

  <footer></footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="../main.js"></script>
  <script src="./monstersAbyss.js"></script>
  <script src='https://cdn.jsdelivr.net/scrollreveal.js/3.3.1/scrollreveal.min.js'></script>


</body>

</html>
