@font-face {
  src: url(../../fonts/Eunomia-Regular.otf);
  font-family: Eunomia;
}

@import url("http://fonts.cdnfonts.com/css/boston-traffic");
p {
  text-align: center;
  font-weight: 400;
}
.ma {
  padding: 30px 0;
  padding-top: 3%;
  font-family: "Boston Traffic", sans-serif;
  position: relative;
  color: #302e2e;
  font-size: x-large;
}

.ma a {
  background: transparent;
  color: #f3e4a1;
  padding: 8px 20px;
  text-transform: uppercase;
  margin-bottom: -10px;
  margin-top: -10px;
  display: inline-block;
  border-radius: 2px;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
}
.ma a:hover,
.ma a:active,
.maa:focus {
  background: #454649;
  color: #ffffff;
  text-decoration: none;
}

ul.social {
  margin-right: 0px;
}

ul.social li {
  padding: 0px 0;
  margin-bottom: 5%;
}
ul.social li a i {
  margin-right: 15px;
  font-size: 30px;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
  padding: 8px 10px;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 2px;
  box-shadow: transparent;
}
ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px;
  background: #454649;
  color: #ffffff;
}
ul.social li a,
ul.quick-links li a {
  color: #ebe4ab;
}
ul.social li a:hover {
  color: #eeeeee;
}
html,
body {
  overflow-x: hidden;
}

body {
  background-color: #cccccc;
  /* height: 400px;  */
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: top, center, bottom;
  /* font-family: "Roboto";
  font-size: 17px;
  font-weight: 400; */
  background-image: linear-gradient(
      rgba(235, 235, 157, 0.637),
      rgba(193, 209, 253, 0.938)
    ),
    url("../images/au-rock.jpg"), url("../images/MA16.jpg"),
    url("../images/MA7.jpg");
}

.timeline {
  position: relative;
}
.timeline::before {
  content: "";
  background: #484a55;
  width: 5px;
  height: 95%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item {
  width: 100%;
  margin-bottom: 70px;
}
.timeline-item:nth-child(even) .timeline-content {
  float: right;
  padding: 40px 30px 10px 30px;
}
.timeline-item:nth-child(even) .timeline-content .date {
  right: auto;
  left: 0;
}
.timeline-item:nth-child(even) .timeline-content::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #2c2b2b transparent transparent;
}
.timeline-item::after {
  content: "";
  display: block;
  clear: both;
}

.timeline-content {
  position: relative;
  width: 35%;
  height: auto;
  padding: 10px 30px;
  border-radius: 10px;
  background: transparent;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}
.timeline-content::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #2c2b2b;
}

.timeline-img {
  width: 30px;
  height: 30px;
  background: #18181a;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}

.timeline-card {
  padding: 0 !important;
  /* border-radius: 20%; */
}
.timeline-card p {
  padding: 0 20px;
  padding-bottom: 2%;
}
.timeline-card a {
  margin-left: 20px;
}

.timeline-item:nth-child(1) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)),
    url("../images/ma/IreneandMe.jpg")
      center -35px no-repeat;
  background-size: cover;
}
.timeline-item:nth-child(2) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)),
    url("../images/ma/ireandme.jpg")
      center center no-repeat;
  background-size: cover;
}
.timeline-item:nth-child(3) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)),
    url("../images/ma/marehearsal.jpg") center
      center no-repeat;
  background-size: cover;
}
.timeline-item:nth-child(4) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)),
    url("../images/ma/ma.jpeg")
      center center no-repeat;
  background-size: cover;
}
.timeline-item:nth-child(5) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)),
    url("../images/ma/mahopeandanchor2.jpg") center
      center no-repeat;
  background-size: cover;
}

.timeline-item:nth-child(6) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)),
    url("../images/ma/MAinge.jpg")
      center -30px no-repeat;
  background-size: cover;
}
.timeline-item:nth-child(7) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)),
    url("../images/ma/nosignal-overlay.webp") center
      center no-repeat;
  background-size: cover;
}

.timeline-img-header {
  height: 200px;
  position: relative;
  margin-bottom: 20px;
}
.timeline-img-header h2 {
  color: #ffffff;
  position: absolute;
  bottom: 5px;
  left: 20px;
}

blockquote {
  margin-top: 30px;
  color: #050505;
  border-left-color: #000000;
  padding: 0 20px;
}

.date {
  background: #020202;
  display: inline-block;
  color: #d1c696;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}
/*  */

@media (min-width: 1024px) and (max-width: 1366px) {
  body {
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: 170%;
    background-position: top, center, bottom;
    background-image: linear-gradient(
        rgba(235, 235, 157, 0.637),
        rgba(193, 209, 253, 0.938)
      ),
      url("../images/au-rock.jpg"), url("../images/MA16.jpg"),
      url("../images/MA7.jpg");
  }
  .ma h1 {
    padding-left: 25%;
  }
}

/*  */
@media (min-width: 951px) and (max-width: 1023px) {
  body {
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: 195%;
    background-position: top, center, bottom;
    background-image: linear-gradient(
        rgba(235, 235, 157, 0.637),
        rgba(193, 209, 253, 0.938)
      ),
      url("../images/au-rock.jpg"), url("../images/MA16.jpg"),
      url("../images/MA7.jpg");
  }
  .ma h1 {
    padding-left: 25%;
  }
}

/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

/* Resolucion para tablets */
@media (min-width: 768px) and (max-width: 950px) {
  body {
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: 240%;
    background-position: top, center, bottom;
    background-image: linear-gradient(
        rgba(235, 235, 157, 0.637),
        rgba(193, 209, 253, 0.938)
      ),
      url("../images/au-rock.jpg"), url("../images/MA16.jpg"),
      url("../images/MA7.jpg");
  }
  .ma h1 {
    padding-left: 15%;
  }
}

/*  */

@media screen and (max-width: 768px) {
  body {
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: linear-gradient(
        rgba(235, 235, 157, 0.637),
        rgba(193, 209, 253, 0.938)
      ),
      url("../images/au-rock.jpg");
  }
  .list-unstyled {
    padding-left: 10%;
  }
  .timeline::before {
    left: 50px;
  }
  .timeline .timeline-img {
    left: 50px;
  }
  .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }
  .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }
  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
}
